<div class="dashboard-container">
  <header class="dash-header">
    <div class="welcome">
      <h1><span class="material-symbols-outlined">event_available</span> Gestion des disponibilités</h1>
      <p>Retrouvez et modifiez vos créneaux horaires</p>
    </div>
  </header>

  <section class="card full-width">
    <div class="card-head">
      <h2><span class="material-symbols-outlined">event_available</span> Mes disponibilités</h2>
      <a routerLink="nouveau" class="link-all">+ Ajouter →</a>
    </div>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Heure début</th>
          <th>Heure fin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (c of creneaux(); track c.id) {
          <tr>
            <td>{{ c.dateJour | date:'dd/MM/yyyy' }}</td>
            <td>{{ c.heureDebut | date:'HH:mm' }}</td>
            <td>{{ c.heureFin | date:'HH:mm' }}</td>
            <td>
              <button class="btn-icon-sm edit" [routerLink]="['modifier', c.id]">
                <span class="material-symbols-outlined">edit</span>
              </button>

              <button class="btn-icon-sm delete" (click)="supprimerCreneau(c.id)">
                <span class="material-symbols-outlined">delete</span>
              </button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4" class="empty">Aucune disponibilité enregistrée.</td>
          </tr>
        }
      </tbody>
    </table>
  </section>
</div>